/* src/styles.css */
@import "tailwindcss";

@variant mobile (max-width: 600px);

@layer utilities {
  /* Optional: Keep .mobile as a standalone utility if needed */
  .mobile {
    @apply max-w-[600px];
  }
}

body {
  margin: 0;
  background: linear-gradient(to bottom, #0b0d10, #1a2526);
  color: #ffffff;
}
/* 
.extension-nav {
  background-color: #161b22;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.6rem 1.2rem;
  margin: 1.5rem 2rem;
  border-radius: 2rem;
  font-size: 1rem;
}
.extensions-header {
  display: flex;
  justify-content: space-between;
}
.extensions-header h1 {
  padding: 10px;
}
.toggle-group button {
  background-color: #161b22;
  color: #ffffff;
  border-radius: 1rem;
  padding: 8px;
  width: fit-content;
  border: none;
}

.toggle-group button.active {
  background-color: orangered;
  color: #161b22;
}
.toggle-group button.inactive {
  background-color: #161b22;
  color: #ffffff;
}
.extensions-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 2rem;
}

.extension-card {
  background-color: #161b22;
  border-radius: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: auto;
} */

/* .remove-button {
  background-color: #191b1e;
  color: #ffffff;
  border-radius: 1rem;
  width: fit-content;
  border: none;
  /* padding-right: 100px; */

/* .remove-button-flex {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 20px;
} */

/* .toggle-switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch .slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #0d1117;
  transition: 0.4s;
  border-radius: 20px;
}

.toggle-switch .slider::before {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  left: 3px;
  top: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.toggle-switch input:checked + .slider {
  background-color: #ff4800;
}

.toggle-switch input:checked + .slider::before {
  transform: translateX(16px);
} */

/* @media (max-width: 600px) {
  .extensions-grid {
    grid-template-columns: 1fr;
  }
  .extensions-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
  }
  .extensions-header .toggle-group {
    gap: 130px;
  }
  .extension-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
} */
